
.versions-select select {
    height: 2em;
    line-height: 2em;
    border-radius: 4px;
    background: #efefef;
}

input[type=checkbox]{
    margin-left: -2em;
}

h1 , h2, h3{
    border-bottom: 1px solid #EFEAEA;
}

